<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Notre annuaire</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

    <body>
        <header class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a asp-controller="Contact" asp-action="Index" ><img src="~/images/logo.jpg" /></a>
                </li>
                <li class="nav-item bouton-menu align-content-center">
                    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index">Accueil</a>
                </li>
                <li class="nav-item bouton-menu align-content-center">
                    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Form" >Formulaire</a>
                </li>
            </ul>
        </header>
        <main class="container">
            @RenderBody()
        </main>
    </body>
</html>
