html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.Section {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
header img {
    width: 50px
}
.details {
    padding: 10px
}

.detailImg {
    width: 250px;
}

.Line {
    margin-top: 10px;
}

.Vignette {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #777777;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.bouton-menu {
    margin: 10px;
}